@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Global variables */
:root {
  --invalid-color1: #d9534f;
  --invalid-color2: #a94442;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  padding-top: 3.125rem;
  padding-left: 7.188rem;
}

label,
li,
input {
  font-size: 1.5rem;
}
input {
  width: 5.5rem;
  height: 2.4rem;
  padding: 0.85rem;
  text-align: justify;
  border: 1.5px solid rgb(203, 201, 201);
  border-radius: 0.25rem;
}

*,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}
input::placeholder {
  color: rgb(168, 166, 166);
}
/* disable default arror controls */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
/*Custom styling to fit design */
.resultSingleNumber {
  font-size: 1.4rem;
  text-decoration: underline;
  text-decoration-color: grey;
}

.inputResult,
.spinner-border {
  margin-left: 1rem;
}

.inputResult,
.spinner-border {
  align-self: center;
}

#errorMessage {
  color: var(--invalid-color2);
  background-color: #f2dede;
  border: 1px dotted #ebcccc;
  margin-left: 116px;
  margin-top: -40px;
  position: absolute;
}

.form-check {
  position: absolute;
  margin-top: -46px;
}
.custom-control-input {
  margin-top: 1px;
  height: 14px;
  width: 14px;
}

#errorMessage {
  width: fit-content;
}

/*Costumize Bootstrap classes */

.btn-secondary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0px;
  color: black;
  border: solid 1.5px #cccccc;
  background-color: #e6e6e6;
  width: 128px;
  height: 40px;
}

.btn-secondary,
.dropdown-item {
  height: 40px;
}

.btn:focus {
  box-shadow: none;
}

.dropdown {
  width: 100px;
  margin-top: -38px;
  position: absolute;
}

.dropdown-menu {
  padding: 2px 0px;
  border: none;
}

.dropdown-item {
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/*responsive design queries */

@media (max-width: 702px) {
  body {
    padding-left: 70px;
  }
}

@media (max-width: 684px) {
  body {
    padding-left: 30px;
  }
}

@media (max-width: 583px) {
  body {
    padding-left: 10px;
  }
}

@media (max-width: 537px) {
  body {
    padding: 50px 0px;
  }
}
@media (max-width: 521px) {
  .p-5 {
    padding: 50px 10px !important;
  }
  h2,
  .btn-primary {
    align-self: center;
  }
  .btn-primary {
    margin-top: 10px;
    width: 40px;
  }
  .d-inline-flex {
    flex-direction: column;
  }
}
