@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Global variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  padding-top: 3.125rem;
  padding-left: 7.188rem;
}

label {
  align-self: center;
  font-size: 1.5rem;
}
input {
  text-align: justify;
  width: 5.5rem;
  height: 2.4rem;
  padding: 0.85rem;
  border: 1px solid rgb(203, 201, 201);
  border-radius: 0.25rem;
}
input::placeholder {
  color: rgb(168, 166, 166);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.inputResult {
  font-size: 1.5rem;
  margin-left: 1rem;
  align-self: center;
  text-decoration: underline;
  text-decoration-color: grey;
}

.checkbox {
  width: auto;
}
